@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Rubik+Scribble&display=swap');

:root {
    --bgColor: white;
    --txtColor: black;
    --layoutClr :#383838
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    font-family: "Edu NSW ACT Foundation", cursive;
}
img{
    width: 100%;
}

header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li{
    display: inline-block;
    margin-right: 1rem;
}
header ul li a{
    display: inline-block;
    color: white;
    text-decoration: none;
}

header nav{
    text-align: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: var(--layoutClr); */
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: "Edu NSW ACT Foundation", cursive;
    background-image: url(../images/game-console-6603120_1280.jpg);
}


nav ul li a {
  position: relative;
}

.collaspe-bar a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}

nav ul li a {
  transition: all 2s;
}

nav ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

footer{
    /* background-color: var(--layoutClr); */
background-image: url(../images/footerBg.jpg);
background-size: cover;
    color: #ffffff;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
    mix-blend-mode: screen;
}
.footerWrapper{
    background: #ffffff57;
    padding: 1rem;
}
.scrollHeader{
    /* background-color: #f3f3f3; */
    background-color: #001435c4;
    color: #ffffff;
    transition-delay: 0.1s;
    transition-timing-function: linear;
    border-bottom: 2px solid #383838;
    background-image: none;
}
.scrollHeader nav ul li a{
    color: #ffffff;
    font-size: 23px;
}
main{
    margin-top: 60px;
}
section{
    /* border: 3px solid rgb(144, 21, 150); */
    background-color: var(--bgColor);
    padding: 1rem;
    /* height: calc(100vh - 65px); */
}

.inputField{
    padding: 7px 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: #242447;
    border: navajowhite;
    color: #9494C7;
}

.searchBar{
    position: relative;
    color: #9494C7;
}
.searchIcon{
    position: absolute;
    left: 5px;
    top: 25%;
}
#navBarToggle{
    padding: 10px 14px;
    background: #242447;
    border-radius: 10px;
    color: #ffff;
}
.collaspe-bar{
    display: none;
}
.content{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.container{
    max-width: 1200px;
    margin: auto;
}
.content section{
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    background-color: #f9f9f9;
}
/* Carasoule */
.carasoule ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.carasoule{
  width: 100vw;
  height: 70vh;
  position: relative;
}
.slide{
position: absolute;
inset: 0;
opacity: 0;
}
.slide[data-active]{
  opacity: 1;
  transition: opacity 0.5s
}
.slide figure{
  margin: 0;
  padding: 0;
}
.slide > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: center ;
}
.slider_button{
  position: absolute;
  top: 50%;
  background: none;
  background-color: rgba(0, 0, 0, 0.55);
  border: none;
  font-size: 4rem;
  transform: translateY(50%);
  z-index: 2;
  color: rgba(255, 255, 255, 0.72);
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 0.30rem;
}
.slider_button.next{
  right: 1rem;
}
.slider_button.prev{
  left: 1rem;
}
.slider_button:hover, .slider_button:focus{
  background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.95);
}
.slider_button:focus{
  outline: 1px solid #ffffff;
}
.bannerSection{
    position: relative;
    padding: 0;
}
.bannerSection div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

}
.bannerSection div h1{
    font-size: 40px;
    font-family: "Rubik Scribble", system-ui;
}
@media only screen and (min-width:768px){
    .collaspe-bar{
        display: block;
    }
    #navBarToggle{
        display: none;
    }
    .content section:hover{
        box-shadow: 0 0 10px 0 #ccc;
    }
}

@media only screen and (min-width:1024px){
}
@media only screen and (min-width:1200px){
}